@media (max-width: 800px){
  .menu{
    font-size: 14px;

  }

  .menu li{
    padding-left: 0px;

  }

  .search{
    padding-left: 20px;
    padding-right: 10px;

  }


  .status-bar-wrapper{
    display: none;
  }

  .purchase{
    width: 80.11%;
    padding: 63px 78px 53px;

  }

  .purchase .purchase-title{
    text-align: center;
    float: none;

  }

  .purchase .purchase-button{
    margin-left: 220px;

  }


}