@media (max-width: 980px){
	.menu{
    font-size: 14px;

  }

  .menu li{
    padding-left: 20px;

  }

  .search{
    padding-left: 20px;
    padding-right: 10px;

  }

  .text-container{
    height: 18%;  
  }

  .slider-wrapper .img-desc{
    width: 35%;
  }

  .purchase{
    padding: 63px 34px 53px;
    width: 43.06%;
    
  }


}