.menu li{
	float: left;
	padding-left: 22.5px;
  font-family: Lato;
}

.menu li a {
  text-decoration: none;
  color: inherit;
  padding: 8px 9px 9px 11px;
}

.menu li a:hover{
   border: 1px solid #ffffff;
}

.feature-head{
  padding-bottom: 20px;
  float: left;
}

.feature-head img{
  float: left;
}

.head-title{
  float: left;
  padding-left: 20px;
  font-size: 16px;
  line-height: 39px;
  letter-spacing: 0.0625em;
  /*color: #334053;*/
  color: red;
  font-weight: bold;
  
}


.feature-desc{
  clear: both;
  line-height: 24px;
  width: 100%;
  font-size: 14px;
}


/*.img-desc img{
  height: 100%;
  width: 100%;
}*/
/*
.btn img{
  width: 100%;
  height: 100%;
}*/

.slider-wrapper li{
  float: left;
}

.slider-image img{
  float: left;
  width: 100%;
  height: 100%;
}

.status-section .counter{
  width: 100%;
  font-size: 40px;
  padding-bottom: 9px;
  display: block;
  
}

.status-section .title{
  /*width: 100%;*/
  font-size: 16px;
  clear: both;
  display: block;
}

.purchase .purchase-title{
  font-size: 16px;
  padding-bottom: 20px;
  float: left;

}

.purchase .purchase-descp{
  width: auto;
  font-size: 14px;
  line-height: 24px;
  padding-bottom:30px;
  float: left;
}

.purchase .purchase-button{
  float: left;
}

.purchase-button img{
  width: 100%;
}

.purchase-banner .text-area{
  text-align: center;
  padding-top: 195px;
  padding-bottom: 195px;
  margin: 0 auto;
  line-height: 44px;
 }



 .footer-logo{
  width: 100%;
  padding-bottom:  32px;
}

.footer-text{
  width: 100%;
  line-height: 27px;
  color: #6e707c;
}

.footer-text-padding{
  padding-top: 37px;
  display: block;

}

.footer .read-more{
  width: 100%;
  line-height: 16px;
  padding-top:29px;
  padding-bottom: 31px; 
  border-bottom: 2px solid #25323b;
}

.read-more p{
  margin-left: 24px;
  font-size: 14px;
  color: #1eaf92;
}

.read-more img{
  float: left;
}

.link-collection{
  width: 100%;
  padding: 29px 0 94px 0;
}

.link-collection img{
  padding: 1px;
  float: left;
}

.link-collection .links{
  width: 40.44117647058824%;
  padding: 28px 26px 28px 0;
  float: left;
  line-height: 20px;

}
.links p{
  margin-left: 40px;
  font-size: 12px; 
  color: #a7afba;
}

.subscribe{
  font-size: 13px;
}


.news-desc li{
  width: 100%;
  clear: both;
  padding: 15px 0; 
  border-bottom: 1px solid #26323e;
  line-height: 26px;
}

.news-desc img{
  float: left;
  display: block;
}
.news-desc .date{
  margin-left: 70px;
  color: #a2abb4;

}

.news-desc h1{
  margin-left: 70px;
  color: #a4b2bb;
}

.news-desc p{
  margin-left: 70px;
  color: #4c565f;

}

.news-desc li:last-child{
  border-bottom: none;
}

.widget .tag-list{
  padding: 8px 0;
  clear: both;

}

.tag-list li{
  float: left;
  padding: 5px 0 5px 10px;
}

.tag-list li:first-child{
  padding: 5px 0;
}

.widget p{
  color: #d5d4da;
  font-size: 16px;
  padding: 34px 0 16px; 
}

.widget links{
  font-size: 14px;
  width: 100%;
}

.useful-links{
  clear: both;
  width: 100%;
}

.useful-links li{
  width: 100%;
  float: left;
  clear: both;
  padding: 14px 0;
  border-bottom: 1px solid #25323b;
  color: ;
}

.useful-links p{
  color: #ebecf1;
}

.useful-links li img{
  margin-top: 6px;
  float: left;
  display: block;

}


.useful-links li p{
  color: #6b757f;
  margin-left: 20px;
  padding: 0;
}

 .useful-links li:hover{
  background: green;
  color: black;
}

.useful-links li:last-child{
  border-bottom: none;
}

.contact-info .office-name{
  padding: 19px 0;
  color: #9eb1b8;
  display: block;
}

.contact-info .office-address{
  clear: both;
  color: #798591;
  line-height: 25px;
  font-size: 14px;
  display: block;
}

.contact-info li{
  padding-bottom: 21px; 
  border-bottom: 1px solid #25323b;
  
}

.contact-info li:last-child{
  border-bottom: none;
}